
.a2
{
    background-color: bisque;
    height: 2cm;
}


.a3
{
    background-color: burlywood;
    height: 4cm;
}
.a6
{
    background-color:cadetblue;
    height: 1.50cm;
}
.a7
{
    background-color: antiquewhite;
    height: 1cm;
}