<div class="container">
    <div class="row">
        
            <div class="card col-md-3">
                <img src="assets/toy1.jpg" alt="">
                <h5 >WISHKEY Plastic Blaze Storm</h5>
                <p ></p>
                <p><strong>Price:</strong> 1500</p>
                <button class="btn btn-primary">Add to cart</button>
            </div>
            <div class="card col-md-3">
                <img src="assets/toy2.jpg"alt="">
                <h5 >Diecast Metal Pullback Toy car</h5>
                <p ></p>
                <p><strong>Price:</strong> 500</p>
                <button class="btn btn-primary">Add to cart</button>
            </div>
            <div class="card col-md-3">
                <img src="assets/toy3.jpg"alt="">
                <h5 > GROUP Avenger Toy Set</h5>
                <p ></p>
                <p><strong>Price:</strong> 1000</p>
                <button class="btn btn-primary">Add to cart</button>
            </div>
            <div class="card col-md-3">
                <img src="assets/toy4.jpg"alt="">
                <h5 > DIKUJI ENTERPRISE</h5>
                <p ></p>
                <p><strong>Price:</strong> 500</p>
                <button class="btn btn-primary">Add to cart</button>
            </div>
            
        
  
    </div>
  </div>
  
  
