<div class="continer-fluid">
        
            
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark "> D COMPANY</h4>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label><br>
                          <input type="email" class="form-control" name="email" [(ngModel)]="email" >
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label><br>
                          <input type="password" class="form-control" name="password" [(ngModel)]="password">
                        </div>
                        
                        <button type="button" class="btn btn-info" (click)="login()">LOG-IN</button>
                        <div class="row">
                            <div class="col-6">
                                <a routerLink="/register"  style="text-decoration:none;"> need account ?<span class="text-danger">Register</span></a>
                            </div>
                            <div class="col-6">
                                <a href="/forgot-password" class="text-dark" style="text-decoration:none;"> Forgot password ?</a>
                            </div>
                        </div>
                    </form>
                </div>
            
        
    
</div>