<div class="container">
    <div class="row">
        
                <div class=" card col-md-3">
                    <img src="assets/b1.jpg" alt="">
                    <h5 >GizmoVine Hobby RC Boats</h5>
                    <p ></p>
                    <p><strong>Price:</strong> 15,000</p>
                    <button class="btn btn-primary">Add to cart</button> 
                </div>
                <div class="card col-md-3">
                    <img src="assets/b2.jpg"alt="">
                    <h5 >Contixo T1 RC Remote Control Racing Sport Boat Speedboat</h5>
                    <p ></p>
                    <p><strong>Price:</strong> 13,500</p>
                    <button class="btn btn-primary">Add to cart</button>
                </div>
            

            
        
  
    </div>
  </div>
  
  
