<div class="container">
    <div class="row">
        
            <div class="card col-md-3">
                <img src="assets/c1.jpg" alt="">
                <h5 >HAIBOXING RC Cars</h5>
                <p ></p>
                <p><strong>Price:</strong> 22,000</p>
                <button class="btn btn-primary">Add to cart</button>
            </div>
            <div class="card col-md-3">
                <img src="assets/c2.jpg"alt="">
                <h5 >Hobby-Ace GT RC Sport</h5>
                <p ></p>
                <p><strong>Price:</strong> 18,500</p>
                <button class="btn btn-primary">Add to cart</button>
            </div>
            <div class="card col-md-3">
                <img src="assets/c3.jpg"alt="">
                <h5 > RGT</h5>
                <p ></p>
                <p><strong>Price:</strong> 30,000</p>
                <button class="btn btn-primary">Add to cart</button>
            </div>
            <div class="card col-md-3">
                <img src="assets/c4.jpg"alt="">
                <h5 > RC Rock Crawler</h5>
                <p ></p>
                <p><strong>Price:</strong> 500</p>
                <button class="btn btn-primary">Add to cart</button>
            </div>
            
        
  
    </div>
  </div>
  
  