<div class="continer">
    <div class="row">
        <div class="col-sm-7 a2">
            <div class="tab1">
                <table class="tab">
                    <tr>
                        <th>SN.NO</th>
                        <th>PRODUCT NAME</th>
                        <th>PRODUCT IMAGE</th>
                        <th>QUANTITY</th>
                        <th>AMOUNT</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>HAIBOXING RC Cars</td>
                        <td><img src="assets/c1.jpg" alt="" class="img"></td>
                        <td>1</td>
                        <td>22,000</td>
                    </tr>
                    
                </table>
            </div>
        </div>
        <div class="col-sm-5 a2">
            <div>
                <table class="tab1">
                    <tr>
                        <th>GRAND TOTAL</th>
                        
                    </tr>
                    <tr>
                        <table class="tab">
                            <tr>
                                <th>PRODUCT NAME</th>
                                <th>AMOUNT</th>
                                
                                
                            </tr>
                            <tr>
                                
                                <td>HAIBOXING RC Cars</td>
                                
                                <td>22,000</td>
                            </tr>
                        </table>    
                        
                    </tr>
                    
                </table>
            </div>
        </div>
    </div>

</div>
    
    
