<div class="continer-fluid ">
    <div class="row">
        <div class="col-md-1">
            <div class="menu-bar">
      
                <ul>
                
                    <li><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list s4" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                    
                
                        <div class="dropdown-menu">
                            <ul>
                                <li><a routerLink="dashboard">HOME</a></li>
                                <li><a routerLink="boy">BOYS</a></li>
                                <li><a routerLink="girl">GIRLS</a></li>
                                <li>
                                    <a >HOPPY GRADE <i class="fas fa-caret-right"></i></a>
                                    
                                    <div class="dropdown-menu-1">
                                        <ul>
                                            <li><a routerLink="car">RC CAR</a></li>
                                            <li><a routerLink="boat">RC BOAT</a></li>
                                            <li><a routerLink="drone">RC DRONE</a></li>
                                            
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a >ADD <i class="fas fa-caret-right"></i></a>
                                    
                                    <div class="dropdown-menu-1">
                                        <ul>
                                            <li><a routerLink="demo">HOME</a></li>
                                            <li><a routerLink="#">BOYS</a></li>
                                            <li><a routerLink="#">GIRLS</a></li>
                                            <li><a routerLink="#">CAR</a></li>
                                            <li><a routerLink="#">BOAT</a></li>
                                            <li><a routerLink="#">DRONE</a></li>
                                            
                                        </ul>
                                    </div>
                                </li>
                            
                            </ul>
                        </div>
                    </li>
                
                </ul>
            </div>
        </div>
        <div class="col-md-3 s1">
         
            <form>
              <div class="search">
                <input type="text " class="ser" placeholder="search products">
                <button type="button" class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search s2" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg>
                </button>
              </div>
            </form>
        </div>
        <div class="col-md-8">

        </div>
       
        </div>
    </div>
